* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, table, td, th, li, a {
    color: black !important;
}

.square {
    width: 19px;
    height: 19px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: 1s ease;
}

.square.dragenter {
    width: 19px;
    height: 19px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: 1s ease;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "\2713";
      font-size: 16px;
      color: green;
      line-height: 16px;
      text-align: center;
    }

}

.square.dragenter-false {
    width: 19px;
    height: 19px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: 1s ease;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "\274c";
      font-size: 12px;
      color: red;
      line-height: 16px;
      text-align: center;
    }
}

.blocksquare-true.red{
    width: 19px;
    height: 19px;
    background-color: red;
    box-shadow: 0 0 2px red, 0 0 10px red;
    transition: 1s ease;
}

.blocksquare-true.blue{
    width: 19px;
    height: 19px;
    background-color: blue;
    box-shadow: 0 0 2px blue, 0 0 10px blue;
    transition: 1s ease;
}
.blocksquare-true.yellow{
    width: 19px;
    height: 19px;
    background-color: yellow;
    box-shadow: 0 0 2px yellow, 0 0 10px yellow;
    transition: 1s ease;
}

.blocksquare-true.green{
    width: 19px;
    height: 19px;
    background-color: green;
    box-shadow: 0 0 2px green, 0 0 10px green;
    transition: 1s ease;
}

.blocksquare-true.click {
    box-shadow: 0 0 2px white, 0 0 15px white;
}

.blocksquare-false {
    width: 19px;
    height: 19px;
    visibility: hidden;
}

.square:hover {
    transition-duration: 0s;
} 

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#board {
    display: grid;
    grid-template-columns: repeat(20, 22px);
    grid-template-rows: repeat(20, 22px);
}

.wrapper-left-side {
    position: absolute;
    width: 400px;
    top: 55%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blocks {
    height: 100%;
    align-items: center;
}

.block {
    display: grid;
    grid-template-columns: repeat(5, 22px);
    grid-template-rows: repeat(5, 22px);
    align-items: center;
    /* margin: 1% 1%; */
}

.no-block {
    display: grid;
    grid-template-columns: repeat(5, 22px);
    grid-template-rows: repeat(5, 22px);
    align-items: center;
    visibility: hidden;
}

.block.dragging {
    opacity: 0.2;
}


#blocks1 {
    width: calc(100%/3);
    float: left;
}

#blocks2 {
    width: calc(100%/3);
    float: left;
}

#blocks3 {
    width: calc(100%/3);
    float: left;
}

