{% extends "index.html" %}

{% block content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update_spielfeld', function(data) {
            // Aktualisiere das Spielfeld auf dem Client
            console.log('Aktualisiere Spielfeld:', data.spielfeld);
        });

        // Hier fügst du den Code für das Zugmachen hinzu und sendest die Zuginformationen an den Server
        function makeMove(row, col, player) {
            var zug = { 'row': row, 'col': col, 'player': player };
            socket.emit('zug_gemacht', zug);
        }
    </script>
</html>
<h1 class="title">
  Welcome auf dem Spielfeld{{lobby_id}}
</h1>

<div class="game-container">
  <h1>Game Page - Lobby {{ lobby_id }}</h1>
  <h2>Users in the Lobby:</h2>
  <ul class="lobby-users">
      {% for row in board %}
          <li>{{ row }}</li>
      {% endfor %}
  </ul>
</div>
<h2>Zug machen</h2>
<form onsubmit="event.preventDefault(); makeMove();">
    <label for="row">Zeile:</label>
    <input type="number" id="row" name="row" required>

    <label for="col">Spalte:</label>
    <input type="number" id="col" name="col" required>

    <button type="submit">Zug machen</button>
</form>

{% endblock %}