{% extends "index.html" %}

{% block content %}

<style>
    .header {
        text-align: center;
    }

    body {
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background: linear-gradient(to bottom, #b3d9ff, #e6f2ff);
        color: #333;
        font-family: Arial, sans-serif;
    }

    .content-container {
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

    .content-box {
        width: 45%;
        padding: 20px;
        margin-top: 50px;
        background: linear-gradient(to bottom right, #e0e4e8, #c8ced4);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15),
            -5px -5px 15px rgba(255, 255, 255, 0.15);
        border-radius: 5px;
        border: 1px solid #b0bec5;
    }

    .content-box h3 {
        color: #333;
        margin-bottom: 10px;
    }

    .content-box p {
        color: #666;
    }

    .play-now-container {
        text-align: center;
        margin: 20px 0;
    }

    .play-now-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #b81c1c;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .play-now-btn:hover {
        background-color: lightcoral;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .rotate {
        animation: rotate 5s linear infinite;
    }
</style>




<div class="header">
    <img src="/static/logo.png">
</div>
<div class="body">
    <h2>Welcome to the Ultimate Blokus Experience!</h2>
    <p style="font-size: x-large;">Join players from around the world in this exciting strategy game. Challenge your
        mind, have fun, and connect
        with others. Ready to make your move?</p>
    <img src="/static/blo.png" class="rotate">
    <br><br>
    <br><br>
    <div class="play-now-container">
        <a href="{{ url_for('lobby.room') }}" class="play-now-btn">Play Now</a>
    </div>
    <div class="content-container">
        <div class="content-box">
            <h3>What's new?</h3>
            <p style="font-size: large;">Take on the ultimate challenge and test your skills against our unbeatable
                AI! Dare
                to play and discover if you
                have what it takes to outsmart the most advanced artificial intelligence in Blokus. Are you ready
                for the
                thrill
                of the game? Play now and make your mark!</p>
        </div>
        <div class="content-box">
            <h3>Events</h3>
            <p style="font-size: large;">
                Sorry, there are currently no active events, but don't worry, we are always striving to organize
                exciting
                events for you! Stay tuned for the next upcoming event.
            </p>
        </div>
    </div>
</div>


{% endblock %}