{% extends "index.html" %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            <div class="card border-#1D70A2 rounded-0 p-4 shadow-lg">
                <h2 class="text-center pb-3">Join Game</h2>
                <form method="POST" action="/lobby">
                    <div class="form-floating mb-4">
                        <input type="number" id="number" name="number" class="form-control bg-light" required  min="1" max="2">
                        <label for="number">Lobby ID</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-primary ms-auto">
                            Join
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}