{% extends "index.html" %}

{% block content %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
    }

    .container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 500px;
        margin: 0;
    }

    .card-footer {
        width: 100%;
        max-width: 500px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            hashPassword().then(function () {
                form.submit();
            });
        });
    });

    async function hashPassword() {
        var passwordInput = document.getElementById('password_input');
        var hashedPasswordInput = document.getElementById('hashedPassword');

        var password = passwordInput.value;
        var hashedPassword = await sha256(password);

        hashedPasswordInput.value = hashedPassword;
        passwordInput.value = '';
    }

    function sha256(str) {
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function (hash) {
            return Array.prototype.map.call(new Uint8Array(hash), function (x) {
                return ('00' + x.toString(16)).slice(-2);
            }).join('');
        });
    }
</script>

<div class="container">
    <div class="card border-#1D70A2 rounded-0 p-4 shadow-lg">
        <h2 class="text-center pb-3">Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login" onsubmit="hashPassword()">
            <div class="form-floating mb-4">
                <input type="email" name="email_input" id="email_input" class="form-control bg-light" required>
                <label for="email_input">E-Mail</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" id="password_input" name="password_input" class="form-control bg-light" required>
                <label for="password_input">Password</label>
            </div>
            <div class="field">
                <div class="control">
                    <input type="hidden" id="hashedPassword" name="hashedPassword">
                </div>
            </div>

            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" name="remember_me" id="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary ms-auto">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div class="card-footer py-3 border-0 bg-light text-center">
        Don't have an account? <a href="#" class="text-dark">Create One</a>
    </div>
</div>

{% endblock %}