{% extends "index.html" %}


{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = document.querySelector("form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            hashPassword().then(function() {
                form.submit(); 
            });
        });
    });

    async function hashPassword() {
        var passwordInput = document.getElementById('old_pw');
        var hashedPasswordInput = document.getElementById('hashedPasswordOld');
        var password = passwordInput.value;
        var hashedPassword = await sha256(password);
        hashedPasswordInput.value = hashedPassword;
        passwordInput.value = '';

        var passwordInput = document.getElementById('new_pw');
        var hashedPasswordInput = document.getElementById('hashedPasswordNew');
        var password = passwordInput.value;
        var hashedPassword = await sha256(password);

        hashedPasswordInput.value = hashedPassword;
        passwordInput.value = ''; 

    }

    function sha256(str) {
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function(hash) {
            return Array.prototype.map.call(new Uint8Array(hash), function(x) {
                return ('00' + x.toString(16)).slice(-2);
            }).join('');
        });
    }
</script>

<div class="column is-4 is-offset-4">
    <h1>Change Password</h1>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/reset_password" onsubmit="hashPassword()">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="old_pw" name="old_pw" placeholder="Old Password" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="new_pw" name="new_pw" placeholder="New Password" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="hidden" id="hashedPasswordOld" name="hashedPasswordOld">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="hidden" id="hashedPasswordNew" name="hashedPasswordNew">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}