{% extends "index.html" %}

{% block content %}
<style>
    .vertical-center {
        height: calc(100vh - 200px);
        display: flex;
        align-items: center;
        overflow: hidden; 
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            hashPassword().then(function () {
                form.submit();
            });
        });
    });

    async function hashPassword() {
        var passwordInput = document.getElementById('password_input');
        var hashedPasswordInput = document.getElementById('hashedPassword');

        var password = passwordInput.value;
        var hashedPassword = await sha256(password);

        hashedPasswordInput.value = hashedPassword;
        passwordInput.value = '';

    }

    function sha256(str) {
        var buffer = new TextEncoder("utf-8").encode(str);
        return crypto.subtle.digest("SHA-256", buffer).then(function (hash) {
            return Array.prototype.map.call(new Uint8Array(hash), function (x) {
                return ('00' + x.toString(16)).slice(-2);
            }).join('');
        });
    }
</script>

<div class="container">
    <div class="row justify-content-center align-items-center vertical-center">
        <div class="col-md-6">
            <div class="card border-#1D70A2 rounded-0 p-4 shadow-lg">
                <h2 class="text-center pb-3">Create Account</h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
                <form method="POST" action="/signup" onsubmit="hashPassword()">

                    <div class="form-floating mb-4">
                        <input type="email" name="email_input" id="email_input" class="form-control bg-light">
                        <label for="email_input">E-Mail</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="text" name="username_input" id="username_input" class="form-control bg-light">
                        <label for="username_input">Username</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="password" id="password_input" class="form-control bg-light">
                        <label for="password_input">Password</label>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="hidden" id="hashedPassword" name="hashedPassword">
                        </div>
                    </div>


                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary ms-auto">
                            Sign Up
                        </button>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}