<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/board.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</head>
<body style="background-color: #b3d9ff;">
<h1 class="title" id="order_player" style="text-align: center;">
    Welcome in the User Game! Player {{order[0][0]}} ({{order[0][1]}}) starts!
</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('update_board', function (data) {
        console.log("Hallo")
        console.log('Aktualisiere Spielfeld:', data.board);
        console.log('Blöcke', data.blocks)
        console.log('Farbe', data.color)
        console.log('User', data.user)
        order_field = document.getElementById("order_player")
        order_field.style.color = data.color;
        order_field.innerHTML = `Active Player: ${data.user}`
        updateBoard(data.board);
        updateGameBlocks(data.blocks, data.color)
    });

    socket.on('finish_game', function (ranking) {
        var rankingHeader = document.getElementById("rankingHeader");
        rankingHeader.hidden = false;
        console.log("Ranking", ranking);
        var table = document.getElementById('rankingTable');
        table.innerHTML = '';
        ranking.forEach(function (tuple) {
            var row = table.insertRow();
            tuple.forEach(function (element) {
                var cell = row.insertCell();
                cell.appendChild(document.createTextNode(element));
            });
        });
    });


    function updateBoard(updatedBoard) {
        updateGameBoardGrid(updatedBoard);
    }

    function updateBlocks(updatedBlocks) {
        return
    }


    function changeColorGameBoard(y, x, color) {
        let element = document.getElementById(`y${y}, x${x}`)
        element.style.backgroundColor = color;

        element.style.boxShadow = `0 0 2px ${color}, 0 0 10px ${color}`
    }

    function makefirstMove(row, col, player) {
        var row = document.getElementById("row")
        var col = document.getElementById("col")
        var zug = { 'row': row.value, 'col': col.value, 'first': true };
        console.log(zug)
        socket.emit('zug_gemacht', zug);
    }

    function makeMove(row, col, player) {
        var row = document.getElementById("row")
        var col = document.getElementById("col")
        var zug = { 'row': row.value, 'col': col.value, 'first': false };
        console.log(zug)
        socket.emit('set_block_user_game', zug);
    }

    function giveUp() {
        socket.emit('give_up');
    }

    socket.on('connect', () => {
        console.log('Connect');
    });

    socket.on('disconnect', () => {
        console.log('Disconnect');
        socket.emit('disconnect');
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
    <div class="wrapper-left-side">
        <div class="blocks" id="blocks1"></div>
        <div class="blocks" id="blocks2"></div>
        <div class="blocks" id="blocks3"></div>
    </div>

    <div class="center">
        <div id="board"></div>
        <div class="d-flex justify-content-around" style="margin-top: 3%;">
            <form onsubmit="event.preventDefault(); makeMove();">
                <label for="row"></label>
                <input type="number" id="row" name="row" hidden>
    
                <label for="col"></label>
                <input type="number" id="col" name="col" hidden>
    
                <button type="submit" class="btn btn-success">AI Move</button>
            </form>
            <br><br>
            <form onsubmit="event.preventDefault(); giveUp();">
                <button type="submit" class="btn btn-warning">Surrender</button>
            </form>
            <br><br>
            <a href="{{ url_for('main.profile') }}" class="btn btn-danger">Leave Game</a>
        </div>
    </div>

    <div style="color: white;" draggable="true"></div>

    <script src="/static/user_board.js"></script>
    <script>
        var playerColor = "{{ color }}";
        renderAllBlocks(blocks_object, playerColor)
        dragndrop(blocks_object)
        console.log(playerColor);
    </script>

</div>

    <div class="col-md-4">
        <h2 hidden id="rankingHeader">
            Ranking
        </h2>
        
        <table id="rankingTable">
        
        </table>
        <br><br>
        <br><br>
        <br><br>
        <div class="chat-container">
            <h2>Chat</h2>
            <ul id="chat-list" style="list-style-type:none;"></ul>
            <form onsubmit="event.preventDefault(); sendMessage();">
                <input type="text" id="message" placeholder="Type your message" class="mb-2">
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
    </div>
    </div>
    <style>
        .chat-container {
            text-align: left;
        }

        #chat-list {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('chat_message', function (message) {
            var chatList = document.getElementById('chat-list');
            var li = document.createElement('li');
            var timestamp = new Date().toLocaleTimeString();
            li.textContent = '[' + timestamp + '] ' + message;
            chatList.appendChild(li);
        });

        function sendMessage() {
            var messageInput = document.getElementById('message');
            var message = messageInput.value.trim();
            if (message !== '') {
                var timestamp = new Date().toLocaleTimeString();
                socket.emit('send_message', message);
                messageInput.value = '';
            }
        }
    </script>
</body>

</html>